<!DOCTYPE html>
{% load static %}
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
  <title>Instagram</title>
</head>

<body>
  <main class="l-main">
    <div class="l-main__img">
      <img class="main_img" src="{% static 'assets/img/main_img.png' %}" alt="Smartphones">
    </div>
    <div class="l-user">
      <div class="c-panel group">
        <img class="c-panel__img" src="{% static 'assets/img/instagram.svg' %}" alt="Instagram">
        <form action="" method="post">
          {% csrf_token %}
          <div class="c-panel__form">
            <input name="username" type="text" class="c-panel__input" placeholder="Phone number, username, or email">
            <input name="password" type="password" class="c-panel__input" placeholder="Password">
            <input type="submit" value="Log In" class="c-btn" style="border: 0;">
            <span class="c-panel__span">OR</span>
          </div>
        </form>
        <a href="#" class="c-panel__facebook">Login with Facebook</a>
        <a href="#" class="c-panel__forgot">Forgot password?</a>
      </div>
      <div class="c-signup group">
        <p>Don't have an account? <span>Sign up</span></p>
      </div>
      <div class="c-app">
        <p>Get the app.</p>
        <div class="c-app__download">

          <a href="https://apps.apple.com/in/app/instagram/id389801252">
            <img src="{% static 'assets/img/apple.png' %}" alt="Apple Store">
          </a>

          <a href="https://play.google.com/store/apps/details?id=com.instagram.android&hl=en_IN&gl=US">
            <img src="{% static 'assets/img/google.png' %}" alt="Google Play">
          </a>

        </div>
      </div>
    </div>
  </main>
</body>

</html>